{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "importOrder": [
    "^react$",
    "^react/(.)$",
    "^@web3/(.)$",
    "@/providers/(.)$",
    "@/contexts/(.)$",
    "^@/types/(.)$",
    "^@/components/(.)$",
    "@/",
    "^utils/(.)$",
    "^hooks/(.)$",
    "@/assets/(.)$",
    "",
    "^constants/(.)$",
    "^enums/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
